
meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
title Hoja de ayuda para Ruby - simple y rápido
// Prism
link(rel="stylesheet", href="assets/prism.css")
// Google Fonts
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans")
// Bootstrap CDN
link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
// Custom styles
link(rel="stylesheet", href="css/style.css")